* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-tit {
  margin-top: 20vh;
  width: 100%;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input {
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  width: 30%;
  margin: 10px;
  padding: 8px;
  font-size: 1.5rem;
  border-radius: 5px;
}